# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/large.del
/large.idx
/large.tbl
/medium.del
/medium.idx
/medium.tbl
/small.del
/small.idx
/small.tbl
/xlarge.del
/xlarge.idx
/xlarge.tbl
/xsmall.del
/xsmall.idx
/xsmall.tbl
